venv/
venv/*
.local/
.config/
.bash_history
.bashrc
.config/
.ipython/
.local/
.profile
.sudo_as_admin_successful
.bash_logout
.cache/
.gitconfig
.ipynb_checkpoints
.jupyter/
.nv/
.python_history

.git-credentials
results/kraken_training_recognition/tmp/*
*.zip
models/obsolete/*

notebooks/BEREL/*
*.pyc

